body {
  background-color: #f0e68c;
}

.App {
  text-align: center;
}

.App-header {
  font-size: 4rem;
  color: #100b09;
  text-decoration: underline;
  width: 85%;
  margin: 1% auto;
}

.beerCard {
  background-color: seashell;
  border: 5px double black;
  margin: 2% 20%;
  padding: 2%;
}

h2 {
  color: #8b4513;
  font-size: 2.5rem;
}

img {
  width: 60%;
  height: 70vh;
  border: 3px dotted purple;
  margin: 2% auto;
  padding: 2% 5%;
}

h4 {
  color: #8b4513;
  font-size: 2rem;
}

.listItem {
  color: #808000;
  font-size: 1.5rem;
}
